.header__logo-wrap {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding-top: 42px;
  }
}

.header__search-wrap {
  &--tablet {
    display: none;
  }

  input {
    border: none;
    font-size: 14px;
    line-height: 21px;
    margin-left: 14px;

    &::placeholder {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: $grey;
      padding-left: 13px;
    }
  }

  label {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 14px;
      height: 14px;
      background: url("../img/search.svg") 0 0 no-repeat;
      top: 4px;
      left: 0;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.header__search-input {
  &:hover,
  &:focus {
    cursor: pointer;

    &::placeholder {
      color: $black;
    }
  }
}

.header__links-wrap {
  width: 194px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-bottom: 20px;

  a {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $standart-black;
    margin-left: 35px;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  span {
    margin-left: 5px;
  }
}

.header__logo-link {
  position: relative;
  top: -12px;

  &--inner-page {
    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}

.header__nav {
  padding-top: 22px;
  margin-bottom: 18px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $grey-light;
    top: 2px;
  }

  a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $standart-black;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  &--product-card {
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $grey-light;
      bottom: -18px;
    }
  }
}

.header__main-wrap {
  background: $brown;

  .container {
    width: 1366px;
    background: url("../img/main-background.png") 0 0/1366px 471px no-repeat;
    padding-top: 151px;
    padding-bottom: 145px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  h1 {
    font-family: "Cormorant Garamond", "Georgia", serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.03em;
    color: $white;
    position: relative;
    left: 2px;
  }

  span {
    font-family: "Cormorant Garamond", "Georgia", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 38px;
    line-height: 49px;
    color: $white;
    display: inline-block;
    vertical-align: center;
    position: relative;
    top: -6px;
  }

  &--catalog {
    .container {
      background: url("../img/catalog-background.png") 0 0/1366px 261px no-repeat;
      padding-top: 70px;
      padding-bottom: 66px;
    }

    h1 {
      font-size: 34px;
      line-height: 44px;
      letter-spacing: normal;
    }

    span {
      font-size: 22px;
      line-height: 29px;
      margin-top: 6px;
    }
  }

  &--product-card {
    display: none;
  }
}

.header__jewellery-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 27px;
  padding-right: 15px;

  li {
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.header__image {
  &--open {
    display: none;
  }
}

.header__button-toggle {
  display: none;
}

.header__basket-link {
  display: none;
}

.header__list {
  display: none;
}

.header__login-link {
  display: none;
}

@media (min-resolution: 2dppx) {
  .header__main-wrap {
    .container {
      background: url("../img/main-background@2x.png") 0 0/1366px 471px no-repeat;

      &--catalog {
        .container {
          background: url("../img/catalog-background@2x.png") 0 0/1366px 261px no-repeat;
        }
      }
    }
  }
}

@media (min-width: $desktop-content-width) and (max-width: 1387px) {
  .header__main-wrap {
    .container {
      width: 1340px;
    }
  }
}

@media (min-width: $desktop-width) and (max-width: $desktop-content-width - 1px) {
  .header__main-wrap {
    .container {
      width: 1000px;
      background: url("../img/main-background.png") 0 0/1000px 471px no-repeat;
    }

    &--catalog {
      .container {
        background: url("../img/catalog-background.png") 0 0/1000px 261px no-repeat;
      }
    }
  }

  @media (min-resolution: 2dppx) {
    .header__main-wrap {
      .container {
        background: url("../img/main-background@2x.png") 0 0/1000px 471px no-repeat;
      }

      &--catalog {
        .container {
          background: url("../img/catalog-background@2x.png") 0 0/1000px 261px no-repeat;
        }
      }
    }
  }
}

@media (max-width: $desktop-width - 1px) {
  .header__wrap {
    .container {
      padding-top: 42px;
      padding-left: 39px;
      padding-right: 44px;
    }

    &--open {
      height: 100vh;
      position: fixed;
      overflow-y: scroll;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;

      .container {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
      }

      .header__mobile-menu {
        padding-left: 39px;
        padding-right: 44px;
        width: calc(100% - 83px);
        height: 100%;
        position: absolute;
        z-index: 1;
        left: 0;
        background-color: $brown;
      }

      .header__image {
        &--open {
          display: block;
        }

        &--close {
          display: none;
        }
      }

      .header__logo-wrap {
        background-color: $brown;
        padding-bottom: 10px;
        padding-left: 39px;
        padding-right: 44px;
        z-index: 1;
      }
    }

    &--nojs {
      position: relative;
      overflow: unset;
      height: auto;

      .header__mobile-menu {
        height: auto;
        position: relative;
        padding-bottom: 40px;
        width: calc(100% - 83px);
        left: 0;
        padding-left: 39px;
        padding-right: 44px;
      }

      .header__button-toggle {
        visibility: hidden;
      }

      .header__logo-wrap {
        padding-bottom: 15px;
      }
    }
  }

  .header__logo-wrap {
    padding-top: 42px;
    padding-bottom: 14px;

    .container {
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: top;
    }
  }

  .header__logo-link {
    left: -6px;
  }

  .header__button-toggle {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    position: relative;
    top: 11px;
  }

  .header__main-wrap {
    .container {
      width: auto;
      background: url("../img/main-background-tablet.png") 0 0/100% no-repeat;
      padding-top: 151px;
      padding-bottom: 145px;
    }

    h1 {
      left: -6px;
    }

    &--catalog {
      .container {
        background: url("../img/catalog-background-tablet.png") 0 0/100% no-repeat;
        padding-top: 70px;
        padding-bottom: 66px;
      }

      h1 {
        left: 2px;
      }
    }
  }

  .header__mobile-menu {
    display: none;

    &--open {
      display: block;

      .header__nav {
        &::before {
          display: none;
        }
      }
    }
  }

  .header__search-wrap {
    margin-bottom: 24px;

    &--tablet {
      display: block;
    }

    &--desktop {
      display: none;
    }

    input {
      margin-left: 0;
      width: calc(100% - 7px);
      border-radius: 21px;
      background: rgba(255, 255, 255, 0.15);
      padding-top: 10px;
      padding-bottom: 9px;
      padding-left: 40px;
      position: relative;
      left: 6px;
    }

    label {
      &::before {
        width: 16px;
        height: 16px;
        background: url("../img/search-white.svg") 0 0 no-repeat;
        left: 18px;
      }
    }
  }

  .header__nav {
    padding-left: 6px;

    ul {
      flex-direction: column;
      padding-left: 0;
      padding-right: 0;
    }

    a {
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      color: $white;
    }

    &::before {
      display: none;
    }

    &--product-card {
      &::after {
        display: none;
      }
    }
  }

  .header__jewellery-list {
    margin-bottom: 19px;

    a {
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
    }

    li {
      margin-bottom: 21px;
    }
  }

  .header__list {
    display: block;
    margin-bottom: 44px;

    a {
      opacity: 0.75;
    }

    li {
      margin-bottom: 20px;
    }
  }

  .header__links-wrap {
    display: none;
  }

  .header__basket-link {
    position: relative;
    top: 12px;
    display: block;
  }

  .header__login-link {
    display: block;
  }

  @media (min-resolution: 2dppx) {
    .header__main-wrap {
      .container {
        background: url("../img/main-background-tablet@2x.png") 0 0/100% no-repeat;
      }

      &--catalog {
        .container {
          background: url("../img/catalog-background-tablet@2x.png") 0 0/100% no-repeat;
        }
      }
    }
  }
}

@media (max-width: $table-width - 1px) {
  .header__wrap {
    .container {
      padding-top: 25px;
      padding-left: 9px;
      padding-right: 14px;
      padding-bottom: 11px;
    }

    &--open {
      .header__mobile-menu {
        padding-bottom: 40px;
        width: calc(100% - 23px);
        padding-left: 9px;
        padding-right: 14px;
      }

      .header__logo-wrap {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &--nojs {
      .header__mobile-menu {
        padding-bottom: 40px;
        width: calc(100% - 23px);
        padding-left: 9px;
        padding-right: 14px;
      }
    }
  }

  .header__main-wrap {
    .container {
      background: url("../img/main-background-mobile.png") 0 0/100% no-repeat;
      padding-top: 164px;
      padding-bottom: 155px;
    }

    h1 {
      font-size: 38px;
      line-height: 49px;
      left: 3px;
    }

    span {
      font-size: 34px;
      line-height: 44px;
    }

    &--catalog {
      .container {
        background: url("../img/catalog-background-mobile.png") 0 0/100% no-repeat;
        padding-top: 58px;
        padding-bottom: 55px;
      }

      h1 {
        font-size: 34px;
        line-height: 44px;
      }

      span {
        font-size: 22px;
        line-height: 26px;
        text-align: center;
      }
    }
  }

  .header__logo-link {
    top: -5px;

    svg {
      width: 52px;
      height: 52px;
    }
  }

  .header__search-wrap {
    margin-bottom: 14px;
  }

  .header__jewellery-list {
    margin-bottom: 10px;
  }

  .header__list {
    margin-bottom: 34px;
  }

  .header__nav {
    .container {
      padding: 0;
    }
  }

  .header__logo-wrap {
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-resolution: 2dppx) {
    .header__main-wrap {
      .container {
        background: url("../img/main-background-mobile@2x.png") 0 0/100% no-repeat;
      }

      &--catalog {
        .container {
          background: url("../img/catalog-background-mobile@2x.png") 0 0/100% no-repeat;
        }
      }
    }
  }
}
