.product {
  .container {
    display: flex;
    padding-top: 80px;
  }

  dl {
    margin-bottom: 50px;
  }

  dt {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $standart-black;
  }

  dd {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $standart-black;
    margin: 0;
  }
}

.product__info-wrap {
  width: 370px;

  button {
    border: none;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: $white;
    background-color: $brown;
    padding-top: 25px;
    padding-bottom: 22px;
    margin-bottom: 17px;

    &:hover,
    &:focus {
      cursor: pointer;
      border: 1px solid $brown;
      padding-top: 24px;
      padding-bottom: 21px;
      color: $brown;
      background-color: transparent;
    }
  }
}

.product__img-wrap {
  display: flex;
  margin-right: 100px;

  ul {
    margin-right: 30px;
  }

  li {
    margin-bottom: 26px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.product__title-wrap {
  margin-bottom: 40px;

  h2 {
    font-family: "Cormorant Garamond", "Georgia", serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    color: $standart-black;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    top: -10px;
  }

  span {
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: $standart-black;
    position: relative;
    letter-spacing: -0.02em;
  }
}

.product__discription-list {
  display: flex;
}

.product__discription-item {
  margin-right: 37px;

  a {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: $grey;

    &:hover,
    &:focus {
      color: $standart-black;
    }
  }

  &:last-child {
    a {
      color: $standart-black;
    }
  }
}

.product__discription-wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 10px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $grey-light;
    bottom: -1px;
  }

  &:last-of-type {
    dd {
      letter-spacing: -0.03em;
    }
  }
}

.product__option-list {
  display: flex;
}

.product__option-item {
  margin-right: 25px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 20px;
    background-color: $grey-light;
    right: -15px;
    top: 2px;
  }

  &:last-child {
    margin-right: 0;

    &::before {
      display: none;
    }
  }

  span {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $grey;
    display: inline-block;
    vertical-align: center;
    padding-bottom: 5px;
  }
}

.product__img-max {
  &--tablet {
    display: none;
  }
}

.product__img-min {
  &--tablet {
    display: none;
  }
}

.product__modal-wrap {
  width: 100%;
  height: 200%;
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  top: 0;

  &--open {
    display: flex;
  }
}

.product__modal {
  position: fixed;
  width: 430px;
  top: 41%;
  background-color: $white;
  padding-top: 47px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 55px;

  span {
    font-family: "Cormorant Garamond", "Georgia", serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 34px;
    color: $standart-black;
    display: flex;
    justify-content: center;
    margin-bottom: 46px;
  }
}

.product__modal-close {
  position: absolute;
  top: 19px;
  right: 14px;
  border: none;
  background-color: transparent;
  color: $standart-black;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $grey;
  }
}

.product__count-wrap {
  display: flex;

  img {
    margin-right: 20px;
  }
}

.product__product-count {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 48px;

  &::before {
    position: absolute;
    content: "";
    background-color: $grey-light;
    width: calc(100% + 70px);
    height: 1px;
    bottom: -36px;
    left: -35px;
  }
}

.product__count-button {
  display: flex;
  flex-direction: column;
  position: relative;
  right: -8px;
  top: -5px;

  span {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 2px;
    margin-top: 9px;
  }

  button {
    background-color: transparent;
    border: none;
    color: $grey;

    &:hover,
    &:focus {
      cursor: pointer;
      color: $standart-black;
    }
  }
}

.product__count-text {
  span {
    font-size: 18px;
    line-height: 23px;
    justify-content: flex-start;
    margin-bottom: 7px;
    position: relative;
    top: -5px;

    &:last-child {
      font-family: "Poppins", "Arial", sans-serif;
      font-weight: 400;
      margin-bottom: 0;
    }
  }
}

.product__modal-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  span {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;

    &:last-child {
      font-weight: 500;
      letter-spacing: -0.02em;
    }
  }
}

.product__link-wrap {
  display: flex;
  justify-content: space-between;
}

.product__modal-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 198px;
  border: 1px solid $brown;
  padding-top: 24px;
  padding-bottom: 21px;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 0;
  color: $standart-black;

  &:hover,
  &:focus {
    width: 200px;
    border: none;
    padding-top: 25px;
    padding-bottom: 22px;
    background-color: $brown;
    color: $white;
  }

  &--checkout {
    width: 200px;
    color: $white;
    border: none;
    background-color: $brown;

    &:hover,
    &:focus {
      width: 198px;
      border: 1px solid $brown;
      padding-top: 24px;
      padding-bottom: 21px;
      background-color: transparent;
      color: $standart-black;
    }
  }
}

@media (min-width: $desktop-width) and (max-width: $desktop-content-width - 1px) {
  .product__img-wrap {
    margin-right: 20px;
  }
}

@media (max-width: $desktop-width - 1px) {
  .product {
    .container {
      width: 678px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 9px;
    }
  }

  .product__img-wrap {
    margin-right: 10px;
    flex-direction: column-reverse;
    position: relative;
    top: 1px;

    ul {
      display: flex;
    }

    li {
      margin-bottom: 0;
      margin-right: 14px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .product__img-max {
    margin-bottom: 10px;

    &--desktop {
      display: none;
    }

    &--tablet {
      display: block;

      img {
        min-width: 319px;
        height: 286px;
      }
    }

    span {
      display: none;
    }
  }

  .product__img-min {
    &--desktop {
      display: none;
    }

    &--tablet {
      display: block;

      img {
        min-width: 97px;
        max-width: 97px;
        height: 129px;
      }
    }
  }

  .product__info-wrap {
    width: 319px;

    button {
      margin-bottom: 13px;
    }
  }

  .product__title-wrap {
    position: relative;
    top: 11px;
    margin-bottom: 51px;

    h2 {
      top: 0;
      margin-bottom: 10px;
    }

    span {
      font-weight: 400;
      font-size: 26px;
      line-height: 34px;
      color: $standart-black;
      position: relative;
      letter-spacing: -0.02em;
    }
  }

  .product__option-item {
    margin-right: 22px;

    span {
      font-size: 12px;
      line-height: 16px;
    }
  }

  .product__modal {
    top: 18.5%;
    width: 438px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: $table-width - 1px) {
  .product {
    .container {
      width: auto;
      margin-left: 0;
      margin-right: 0;
      flex-direction: column;
      padding-top: 0;
    }

    dl {
      margin-bottom: 40px;
    }
  }

  .product__img-wrap {
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;
    margin-bottom: 15px;

    ul {
      display: none;
    }
  }

  .product__img-max {
    &--tablet {
      position: relative;

      img {
        min-width: 290px;
        max-width: 290px;
        height: 260px;
      }

      span {
        position: absolute;
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: $standart-black;
        bottom: 10px;
        left: 127px;
      }
    }
  }

  .product__info-wrap {
    width: 100%;
  }

  .product__title-wrap {
    margin-bottom: 41px;
  }

  .product__option-list {
    position: relative;
    justify-content: center;
    left: -3px;
    margin-left: auto;
    margin-right: auto;
  }

  .product__option-item {
    text-align: center;
    margin-right: 62px;

    &::before {
      right: -32px;
    }

    span {
      width: 46px;
    }
  }

  .product__modal {
    top: 14%;
    width: 260px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 39px;
    padding-bottom: 46px;

    span {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 32px;
      text-align: center;
      width: 187px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .product__modal-close {
    top: 14px;
    right: 9px;
  }

  .product__count-wrap {
    img {
      width: 70px;
      height: 63px;
      margin-right: 15px;
    }
  }

  .product__count-text {
    span {
      font-size: 16px;
      line-height: 21px;
      margin-bottom: 7px;
      top: -5px;
      width: auto;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .product__count-button {
    right: -7px;
    top: -1px;

    span {
      font-size: 16px;
      line-height: 21px;
      margin-bottom: 0;
      margin-top: 9px;
      width: auto;
    }
  }

  .product__product-count {
    margin-bottom: 44px;

    &::before {
      width: calc(100% + 30px);
      height: 1px;
      bottom: -23px;
      left: -15px;
    }
  }

  .product__modal-text {
    margin-bottom: 30px;
    flex-direction: column;
    align-items: flex-start;

    span {
      width: auto;
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 12px;
      margin-left: 0;
      margin-right: 0;

      &:last-child {
        font-weight: 500;
        letter-spacing: -0.02em;
        margin-bottom: 0;
      }
    }
  }

  .product__link-wrap {
    flex-direction: column;
  }

  .product__modal-link {
    width: calc(100% - 2px);
    margin-bottom: 22px;

    span {
      font-size: 16px;
      line-height: 21px;
      width: auto;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }

    &--checkout {
      width: 100%;
      margin-bottom: 0;
    }
  }
}
