.container {
  margin: 0 auto;
  width: 1170px;
}

@media (min-width: $desktop-width) and (max-width: $desktop-content-width - 1px) {
  .container {
    width: 995px;
  }
}

@media (max-width: $desktop-width - 1px) {
  .container {
    width: auto;
    padding: 0 45px;
  }
}

@media (max-width: $table-width - 1) {
  .container {
    padding: 0 15px;
  }
}
