$table-width: 768px;
$desktop-width: 1024px;
$desktop-content-width: 1366px;
$white: #ffffff;
$black: #000000;
$grey: #9b9997;
$standart-black: #1d1613;
$brown: #a87b62;
$grey-light: #f6f5f4;
$special-grey: #f0eae4;
